<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMao Students</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap&effect=3d-float');
:root{--color: #333;--back: #fff;}
body{margin: 0;min-height: 100vh;background: linear-gradient(45deg,var(--back), royalblue 369%);display: flex;flex-direction: column;align-items: center;}
h1{margin: 0;font-size: 51px;margin-top: 36px;color: royalblue;}
p{margin: 0;color: var(--color);margin-bottom: 36px;text-align: center;}
table{border-radius: 5px;margin-bottom: 19px;}
th{background: royalblue;color: var(--back);font-size: 24px;margin: 0;padding: 9px 24px;border-radius: 5px;}
td{background: var(--back);padding: 9px;box-shadow: 1px 2px 3px rgba(64, 64, 64, 0.358);border-radius: 4px;color: var(--color);transition: 0.3s;font-size: 19px;}
td:hover{background: #eeeeee71;}
td:nth-child(1){font-weight: bold;}
td:nth-child(4){color: royalblue;}td a{text-decoration: none;}
.s{width: max-content;display: flex;justify-content: left;}
.pop{width: 600px;height: 300px;background: var(--back);position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);border: 1px solid #acacac96;display: flex;flex-direction: column;justify-content: center;align-items: center;border-radius: 15px;}
.pop h1{margin: 5px;font-size: 36px;color: royalblue;}
.pop p{margin: 5px;font-size: 17px;color: var(--color);}
@media(max-width:869px){h1{font-size: 42px;margin-top: 19px;}p{font-size: 15px;margin-bottom: 19px;}th{font-size: 19px;}td{font-size: 16px;}}
@media(max-width:720px){h1{font-size: 6vw;margin-top: 15px;}p{font-size: 15px;margin-bottom: 19px;width: 89%;}.s{width: 100%;overflow-x: scroll;}table{margin: 0 5px;}.s::-webkit-scrollbar{background: transparent;height: 7px;}.s::-webkit-scrollbar-thumb{background: royalblue;border-radius: 9px;}th{font-size: 17px;}td:nth-child(1){min-width: 200px;}td:nth-child(2){min-width: 159px;}td:nth-child(3){min-width: 191px;}td:nth-child(4){min-width: 150px;}.pop{width: 89%;height: 200px;}.pop h1{font-size: 6vw;}.pop p{font-size: 14px;}}
    </style>
</head>
<body>
    <h1>Students Table</h1>
    <p>Look for your student ID and information in this talbe.</p>
    <div class="s">
        <table>
            <tr>
                <th class="font-effect-3d-float">Name</th>
                <th class="font-effect-3d-float">Address</th>
                <th class="font-effect-3d-float">Email</th>
                <th class="font-effect-3d-float">Student ID</th>
            </tr>
            <% all.forEach((item)=>{%>
                <tr>
                    <td><%= item.name%></td>
                    <td><%= item.address%></td>
                    <td><%= item.email%></td>
                    <td><a href="students/<%= item.student_id%>"><%= item.student_id%></a></td>
                </tr>
            <%})%>
        </table>
    </div>
    <div class="pop"><h1>Loading...</h1><p>Getting students information</p></div>
    <script>
        var pop = document.querySelector(".pop");
        window.onload=()=>{
            pop.remove()
        }
    </script>
</body>
</html>