<!DOCTYPE html>
<html lang="en">
    <% if(all.length !== 0){%>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=all[0].name%>'s profile</title>
    <meta name="description" content="<%=all[0].name%>'s profile information">
    <link rel="shortcut icon" href="<%= all[0].profile%>" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css">
    <style>:root{--color: #333;--back: #fff;}body{margin: 0;background: var(--back);display: flex;flex-direction: column;align-items: center;}nav{width: 100%;display: flex;align-items: center;background: #cbcbcb2c;justify-content: space-between;padding: 9px 0;}nav a{text-decoration: none;font-size: 23px;color: var(--color);margin: 2px;}nav a:nth-child(1){margin-left: 19px;font-size: 20px;}nav a img{height: 25px;object-fit: contain;object-position: center;margin-right: 19px;cursor: pointer;}nav h1{margin: 3px;color: var(--color);font-size: 27px;}.item{display: flex;flex-direction: column;align-items: center;overflow: hidden;border-radius: 9px;background: white;width: 400px;margin: 9px 0;padding-bottom: 15px;box-shadow: 1px 2px 3px #33333334;}.item img{height: 123px;width: 123px;margin-top: 15px;border-radius: 50%;border: 3px solid royalblue;object-fit: cover;object-position: center;user-select: none;}.item h1{margin: 0;font-size: 36px;color: dimgray;}.div{display: flex;flex-direction: column;align-items: center;background: #eee;width: 91%;overflow: hidden;border-radius: 9px;margin: 3px 0;}.l{display: flex;align-items: center;justify-content: space-between;width: 100%;padding: 7px 0;transition: 0.5s;}.l:hover{background: #dddddd;}.l p{margin: 3px;font-size: 17px;color: #333;}.l p:nth-child(1){margin-left: 15px;}.l p:nth-child(2){margin-right: 15px;color: royalblue;font-weight: bold;}.btn{display: flex;align-items: center;margin-top: 7px;margin-bottom: 15px;}.btn a{width: 42px;height: 42px;margin: 0 9px;display: flex;font-size: 23px;justify-content: center;align-items: center;text-decoration: none;border-radius: 50%;transition: 0.5s;transform: scale(1);}.btn a:nth-child(1){color: rgb(51, 203, 51);}.btn a:nth-child(2){color: royalblue;}.btn a:nth-child(3){color: rgb(255, 48, 48);}.btn a:hover{background: #eee;}.btn a:active{color: #333;}.pop{position: fixed;left: 0;bottom: -222px;background: #eee;width: 400px;transition: 0.5s;border-top-right-radius: 9px;padding: 19px 0;display: flex;align-items: center;justify-content: space-evenly;}.pop a{text-decoration: none;display: flex;align-items: center;justify-content: center;flex-direction: column;color: var(--color);transition: 0.2s;}.pop a:hover{color: royalblue;}.pop a:active img{transform: scale(0.91);}.pop a img{width: 42px;height: 42px;font-size: 24px;transform: scale(1);border-radius: 9px;object-fit: contain;object-position: center;transition: 0.3s;padding: 15px;background: var(--back);box-shadow: 1px 2px 3px #00000020;}.pop a p{margin: 3px;font-size: 15px;}.pop .close{position: absolute;top: 0;right: 0;padding: 3px 5px;height: 24px;object-fit: contain;object-position: center;user-select: none;font-size: 19px;background: none;cursor: pointer;margin: 9px;}@media(max-width:500px){nav a{font-size: 17px;}nav a:nth-child(1){font-size: 14px;}nav h1{font-size: 5vw;}.item{width: 95%;}.item img{width: 99px;height: 99px;}.item h1{font-size: 6vw;}.l p{font-size: 14px;}.btn a{font-size: 15px;}.item p{font-size: 14px;}.pop{width: 100%;border-top-right-radius: 15px;border-top-left-radius: 15px;}.pop a img{width: 27px;height: 27px;padding: 19px;}.pop a p{font-size: 14px;}nav a img{height: 19px;}.pop .close{height: 19px;}}</style>
</head>
<body>
    <nav>
        <a href="../"><img src="https://cdn-icons-png.flaticon.com/512/2099/2099190.png" alt=""></a>
        <h1><%= all[0].name%>'s profile</h1>
        <a href="javascript:showpop()"><img src="../assets/img/dot.png" alt=""></a>
    </nav>
    <div class="pop">
        <img src="../assets/img/close.png" class="close" onclick="closepop()">
        <a href="javascript:qr()"><img src="../assets/img/qrcode.png" alt=""><p>QR Code</p></a>
        <a href="javascript:shar()"><img src="../assets/img/share.png" alt=""><p>Share</p></a>
    </div>
        <div class="item">
            <img src="<%= all[0].profile%>" alt="">
            <h1><%= all[0].name%></h1>
            <div class="div">
                <div class="l"><p>Email</p><p><%= all[0].email%></p></div>
                <div class="l"><p>ID</p><p><%= all[0].student_id%></p></div>
            </div>
            <div class="div">
                <div class="l"><p>Address</p><p><%= all[0].address%></p></div>
                <div class="l"><p>Level</p><p><%= all[0].level%></p></div>
            </div>
            <div class="div">
                <div class="l"><p>Percent</p><p><%= all[0].percent%>%</p></div>
            </div>
        </div>
    <script></script>
</body>
<%}else{%>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile not found</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/6915/6915987.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css">
    <style>
        body{margin: 0;display: flex;justify-content: center;align-items: center;background: #eee;min-height: 100vh;}
        .box{background: white;padding: 19px;border-radius: 12px;}
        h1{margin: 9px;color: royalblue;font-size: 42px;}
        p{font-size: 19px;margin: 0 9px;color: dimgray;margin-bottom: 36px;}
        a{padding: 9px 15px;margin:9px;background: royalblue;color: white;border-radius: 4px;text-decoration: none;}
    </style>
</head>
<body>
    <div class="box">
        <h1>No student found</h1>
        <p>Are you visit correct student profile?</p>
        <a href="../">Back to home</a>
    </div>
</body>
<%}%>
</html>